# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

ChangeLog
INSTALL

*.o
*.lo
*.la
.deps
.libs

Makefile
config.guess
config.h
*.in
*~
config.log
config.status
config.sub

*.gz
*.pc

gtk-doc.m4
gtk-doc.make
libtool
ltmain.sh
src/gts-config
src/gts.def
src/gtsconfig.h
src/predicates_init
src/predicates_init.h
stamp-h1
test-driver
test/boolean/test.sh
